@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&display=swap');
@import "tailwindcss";


/***===TailwindCSS ==========================================*/
.hover {
    @apply hover:cursor-pointer hover:scale-110 transition
}

/***===TailwindCSS ==========================================*/
/*!====== CSS ==========================================*/

body {
    font-family: 'Cinzel', serif;
    margin: 0;
    background-color: #010101;
    color: #eee;
}

/*=== CSS Animation =====*/



/*!====== CSS ==========================================*/